<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Events</title>
    <link rel="stylesheet" href="borahae-koffee\borahae_koffee\borahae_koffee\static\Stylesheets\MyEvents.css"/>
</head>
<body>
    <h1>My Events</h1>
    <ul>
        <li><a>Dashboard</a></li>
        <li><a>Events</a></li>
        
    </ul>

    <div id="event_table">
      <div id="searchplus">
        <input id="search" type="text" placeholder="Search..">

        <div id="button">
          <button type="button" id="plus-btn">
            + New Event
          </button>
        </div>
      </div>
      <table id="events">
          <tr>
            <th>Event Name</th>
            <th>Event Timeline</th>
            <th>Event Status</th>
            <th></th>
          </tr>
          <tr>
            <td>Alfreds Futterkiste</td>
            <td>Maria Anders</td>
            <td>Germany</td>
            <td></td>
          </tr>
          <tr>
            <td>Berglunds snabbköp</td>
            <td>Christina Berglund</td>
            <td>Sweden</td>
            <td></td>
          </tr>
          <tr>
            <td>Centro comercial Moctezuma</td>
            <td>Francisco Chang</td>
            <td>Mexico</td>
            <td></td>
          </tr>
          <tr>
            <td>Ernst Handel</td>
            <td>Roland Mendel</td>
            <td>Austria</td>
            <td></td>
          </tr>
        </table>
    </div>
    
</body>
</html>