ul {
    position: fixed;
    background: linear-gradient(180deg, #FFDDED 0%, #B9BFE4 100%);
    top: 0%;
    bottom: 0%;
    left: 0%;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    padding-top: 10%;
    width: 250px;
    height: 1000px;
    
}

li a {
    display: block;
    color: black;
    /* margin-top: 50%;
    margin-bottom: -15%; */
    padding: 20px 17px;
    font-family: 'Lato', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif' ;
    font-size: x-large;
    text-decoration: none;
    cursor: pointer;
}

li b {
    display: block;
    background-color: #7B61FF;
    color: white;
    /* margin-top: 50%;
    margin-bottom: -15%; */
    padding: 20px 17px;
    font-family: 'Lato', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif' ;
    font-size: x-large;
    text-decoration: none;
    cursor: pointer;
}

li a:hover {
    background-color: #7B61FF;
    color: white;
}

h1 {
    position: absolute;
    top: 10%;
    left: 20%;
    bottom: 100%;
    font-family: 'Lato', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    font-size:xx-large;
    /* margin-top: 7.5%;
    margin-left: 25%;
    margin-left: 25%; */
}

body {
    display: flex;
}

#participants {
    display: inline-block;
    position: absolute;
    width: 760px;
    height: 390px;
    left: 300px;
    top: 100px;

    background: #FFDDED;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    /* display: inline-block;
    width: auto;
    height: auto;
    margin: auto;
    margin-top: auto;
    padding: 75px;
    background: #FFDDED;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    flex-direction: column;
    justify-content:space-between;
    z-index: 0; */
}

#srate {
    display: flex-end;
    position: absolute;
    width: 800px;
    height: 390px;
    left: 1080px;
    top: 100px;

    background: #FFDDED;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    /* width: auto;
    height: auto;
    margin: auto;
    margin-top: auto;
    padding: 75px;
    background: #FFDDED;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    flex-direction: column;
    justify-content:space-between;
    z-index: 0; */
}

#feedback {
    display: inline-block;
    position: absolute;
    width: 950px;
    height: 380px;
    left: 300px;
    top: 520px;

    background: #FFDDED;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    /* width: auto;
    height: auto;
    margin: auto;
    margin-top: auto;
    padding: 75px;
    background: #FFDDED;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    flex-direction: column;
    justify-content:space-between;
    z-index: 0; */
}

/* Participants Attended */

/* position: absolute;
width: 309px;
height: 38px;
left: 294px;
top: 97px;*/

h2 {
    position: absolute;
    top: 10%;
    left: 25%;
    bottom: 100%;
    font-family: 'Lato', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    font-size:xx-large;
    /* font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    align-items: center; */

    color: #6E4CC2;
}

h3 {
    position: absolute;
    top: 10%;
    left: 35%;
    bottom: 100%;
    font-family: 'Lato', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    font-size:xx-large;
    color: #6E4CC2;
}

h4 {
    position: absolute;
    top: 10%;
    left: 35%;
    bottom: 100%;
    font-family: 'Lato', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    font-size:xx-large;
    color: #6E4CC2;
}

h5 {
    position: absolute;
    top: 7%;
    left: 35%;
    bottom: 100%;
    font-family: 'Lato', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    font-size:xx-large;
    color: #6E4CC2;
}


#eventgoal {
    display: flex-end;
    position: absolute;
    width: 600px;
    height: 380px;
    left: 1280px;
    top: 520px;

    background: #FFDDED;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    /* width: auto;
    height: auto;
    margin: auto;
    margin-top: auto;
    padding: 75px;
    background: #FFDDED;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    flex-direction: column;
    justify-content:space-between;
    z-index: 0; */
}

#firstdash{
    display: flex;
    height: 100vh;
    flex-direction: column;
    width: 70%;
    padding-left: 375px;
    justify-content: center;
    align-self: center;
}
#seconddash{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#threedash{
    display: flex;
    height: 100vh;
    flex-direction: column;
    width: 70%;
    padding-left: 375px;
    justify-content: center;
    align-self: center;
}
#fourdash{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}