* {
    margin:0;
}

body {
    background-image: url("../Assets/Background.png");
    height: 100vh;
    display: flex;
    align-items: center;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lato', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    color: #767171;
}

#blob_1 {
    position: absolute;
    width: 626.15px;
    height: 609.81px;
    left: 0;
    top: -165.89px;
}

#blob_2 {
    position: absolute;
    width: 593.18px;
    height: 606.08px;
    right: 0;
    bottom: -40px;
}

form {
    width: 40%;
    height: 60%;
    margin: auto;
    margin-top: auto;
    padding: 60px;
    background: #FFDDED;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

/* textarea {
    background: #FFFFFF;
    border: 1px solid #FF72C7;
    box-sizing: border-box;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
} */

p {
    font-weight: 700;
}

input, textarea {
    display: block;
    padding: 16px;
    line-height: 1.2;
    width: calc(100% - 32px);
    background: #FFFFFF;
    border: none;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

::placeholder { 
    color: #d2d2d2;
    opacity: 1; 
}

#participants {
    width: 56px;
}

#dates {
    display: flex;
    justify-content: space-between;
}

#dates div {
    width: 45%;
}

/* #dates div {
    width: 100%;
} */


#buttons {
    display: flex;
    justify-content: flex-end;
}

a {
    text-decoration: none;
    color: #6E4CC2;
}

button {
    padding: 8px;
    margin: 16px 0 0 16px;
    border: none;
    padding: 12px;
    width: 64px;
    cursor: pointer;
}

#back-btn {
    color: #6E4CC2;
    /* box-sizing: border-box; */
    border: 3px solid #6E4CC2;
    border-radius: 4px;
    background-color: transparent;
    /* -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out; */

}

#submit-btn {
    color: #FAFAFA;
    background: linear-gradient(121.28deg, #6E4CC2 31.11%, #F1B5C5 124.29%);
    border-radius: 4px;
    /* -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;  */
}

#progress {
    position: absolute;
    left: calc(50% - 64px);
    bottom: 48px;
}

/* Hover States */

#back-btn:hover {
    background: linear-gradient(121.28deg, #6E4CC2 31.11%, #F1B5C5 124.29%);
    /* border: transparent; */
    transition-property: background;
    /* -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out; */
}

#back-btn:hover > a{
    color: #FAFAFA;
}

#submit-btn:hover {
    background: transparent;
    border: 3px solid #6E4CC2;
    color: #6E4CC2;
    /* -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;  */
}