{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Events</title>
    <link rel="stylesheet" href="{% static 'static/Stylesheets/dashboard.css %'}"/>
</head>
<body>
  <h1>My Events</h1>
  <ul>
    <li><b>Dashboard<b></li>
    <li><a>Events</a></li>
      
  </ul>
  <div id="firstdash">
    <div id="seconddash">
      <div id="participants">
        <h2>Participants Attended</h2>
      </div>
      <div id="srate">
        <h3>Success Rate</h3>
      </div>
      <div id="feedback">
        <h4>Feedback Responses</h4>
      </div>
      <div id="eventgoal">
        <h5>Event Goals</h5>
      </div>
    </div>
  </div>
  <!-- <div id="threedash">
    <div id="fourdash">
      <div id="feedback"></div>
      <div id="eventgoal"></div>
    </div>
  </div> -->
</body>
</html>