{% load static %}
<html>
    <head>
        <head>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <link rel="icon" href="{% static 'Assets/Borahae Icon.png' %}" />
            <meta property="og:title" content="Borahae Cafe" />
            <meta developer="Carlos Penafiel" site="https://github.com/">
            <title>Borahae Cafe - Feedback Form</title>
            <link rel="stylesheet" href="{% static 'Stylesheets/event.css' %}"/>
            <link rel="stylesheet" href="/path/to/cdn/font-awesome.min.css" />
            <img src="{% static 'Assets/Blob.png' %}" alt="" id="blob_1">
            <img src="{% static 'Assets/Blob_2.png' %}" alt="" id="blob_2">
        <title>
            Result Page
        </title>
        <link rel="stylesheet" href="style.css" />
        <script type="text/javascript" src="result.js" ></script>
    </head>
    <body>
        <form>
        <h1>
            Result Page
        </h1>
        <h2> 1.) <span id="result-question1" ></span> </h2><input type="text"> <br>
        <h2> 2.) <span id="result-question2" ></span> </h2><input type="text"> <br>
        <h2> 3.) <span id="result-question3" ></span> </h2><input type="text"> <br>
        <h2> 4.) <span id="result-question4" ></span> </h2><input type="text"> <br>
        <h2> 5.) <span id="result-question5" ></span> </h2><input type="text"> <br>
        <h2> 6.) <span id="result-question6" ></span> </h2><input type="text"> <br>
        <h2> 7.) <span id="result-question7" ></span> </h2><input type="text"> <br>
        <input type="submit" value="Submit">

    </form>
    </body>
</html>