{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Events</title>
    <link rel="stylesheet" href="{% static 'static/Stylesheets/MyEvents.css %'}"/>
</head>
<body>
    <h1>My Events</h1>
    <ul>
        <li><a>Dashboard</a></li>
        <li><a>Events</a></li>
        
    </ul>

    <div id="event_table">
      <div id="searchplus">
        <input id="search" type="text" placeholder="Search..">

        <div id="button">
          <button type="button" id="plus-btn">
            + New Event
          </button>
        </div>
      </div>
      <table id="events">
          <tr>
            <th>Event Name</th>
            <th>Event Timeline</th>
            <th>Event Status</th>
            <th></th>
          </tr>
          <tr>
            <td>Butter</td>
            <td>8/21/2021 - 8/21/2021</td>
            <td>Completed</td>
            <td></td>
          </tr>
          <tr>
            <td>Garlic</td>
            <td>5/24/2022 - 5/24/2022</td>
            <td>ongoing</td>
            <td></td>
          </tr>
          <tr>
            <td>Bread</td>
            <td>9/20/2021 - 9/20/2021</td>
            <td>Completed</td>
            <td></td>
          </tr>
          <tr>
            <td>Sauce</td>
            <td>7/15/2022 - 7/15/2022</td>
            <td>Plannin</td>
            <td></td>
          </tr>
        </table>
    </div>
    
</body>
</html>